.c-button {
  font-size: 1em;
  display: inline-block;
  border: 0;

  padding: 0.7em 1.3em;
  background: $color-secondary;
  color: $white;
  border-radius: 0.3em;
  font-weight: 600;

  transition: all .25s;

  &:hover,
  &:active,
  &:focus {
    background: $color-secondary-dark;
  }
}