.l-header {
  background: darken($color-secondary, 12%);
  background: linear-gradient(120deg, darken($color-secondary, 10%), darken($color-secondary, 20%));
  color: $white;
  padding: 2em 0;
  margin-bottom: 2em;
  text-align: center;
}

.l-header__heading {
  font-size: 2.2em;
  margin: em(5) 0;
}

.l-header__logo {
  display: inline-block;
  width: 5.5em;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.75em;

  img {
    width: 100%;
  }
}

@include mq($from: mobile) {
  .l-header {
    padding: 3em 0;
  }
}