// -----------------------------------------------------------------------------
// This file contains all application-wide copy text.
// -----------------------------------------------------------------------------
h1 {
  color: $main-color;
  font-family: sans-serif;
  text-align: center;
}